---
const {
	label = 'Toggle Menu',
	class:
		className = 'ml-1.5 text-zinc-600 dark:text-zinc-300 hover:text-zinc-900 dark:hover:text-white hover:bg-primary-100 dark:hover:bg-steel-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center transition',
} = Astro.props;
---

<button type="button" class={className} aria-label={label} data-aw-toggle-menu>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		preserveAspectRatio="xMidYMid meet"
		viewBox="0 0 24 24"
		class="w-6 h-6"
		astro-icon="tabler:menu"
		><g
			class="icon-tabler"
			fill="none"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"><path d="M4 8h16"></path><path d="M4 16h16"></path></g
		></svg
	>
</button>
