---
import { Icon } from 'astro-icon/components';
import Logo from '~/components/atoms/Logo.astro';
import ToggleTheme from '~/components/core/ToggleTheme.astro';
import ToggleMenu from '~/components/core/ToggleMenu.astro';

import { getHomePermalink, getBlogPermalink, getPermalink, getRelativeLink } from '~/utils/permalinks';

const headerLinks = [
	{ title: 'Docs', href: getRelativeLink('docs/latest') },
	{ title: 'News', href: getBlogPermalink() },
	{ title: 'Releases', href: getPermalink('releases', 'page') },
	{ title: 'FAQ', href: getPermalink('faq', 'page') },
	{ title: 'Donate', href: 'https://liberapay.com/forgejo' },
];
const headerIcons = [
	{ title: 'Source code', icon: 'tabler:git-merge', href: 'https://codeberg.org/forgejo/forgejo' },
	{ title: 'RSS feed', icon: 'tabler:rss', href: '/rss.xml' },
];
const linkStyle =
	'text-zinc-600 dark:text-zinc-300 hover:text-zinc-900 dark:hover:text-white hover:bg-primary-100 dark:hover:bg-steel-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg px-4 py-3 inline-flex items-center transition duration-150 ease-in-out';
---

<header
	class="sticky top-0 z-40 flex-none mx-auto w-full border-b bg-white md:bg-white/90 border-black/7 dark:bg-steel-900 dark:md:bg-steel-900/90 dark:border-black/25 md:backdrop-blur-sm"
	id="header"
>
	<div class="py-3 px-3 mx-auto w-full md:flex md:justify-between max-w-6xl md:px-4">
		<div class="flex justify-between">
			<a
				class="flex items-center focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg p-1 ml-1"
				href={getHomePermalink()}
			>
				<Logo />
			</a>
			<div class="flex items-center md:hidden">
				<ToggleTheme />
				<ToggleMenu />
			</div>
		</div>
		<nav
			class="items-center w-full md:w-auto hidden md:flex h-[calc(100vh-100px)] md:h-auto overflow-y-auto md:overflow-visible font-medium"
			aria-label="Main navigation"
		>
			<ul class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-xl md:text-base">
				{
					headerLinks.map(({ title, href }) => (
						<li class="inline-flex items-center">
							<a class={linkStyle + ' md:py-2'} href={href}>
								{title}
							</a>
						</li>
					))
				}
				{
					headerIcons.map(({ title, icon, href }) => (
						<li class="inline-flex items-center">
							<a class={linkStyle + ' md:p-2.5'} href={href}>
								<Icon name={icon} class="w-5 h-5 hidden md:inline-block" />
								<span class="md:hidden">{title}</span>
							</a>
						</li>
					))
				}
				<li class="hidden md:inline-flex items-center">
					<ToggleTheme iconClass="w-5 h-5" />
				</li>
			</ul>
		</nav>
	</div>
</header>
