---

---

<span class="self-center text-2xl md:text-xl font-bold text-zinc-900 whitespace-nowrap dark:text-white">
	<img src="/images/forgejo-wordmark.svg" style="height: 2em;" alt="Forgejo" />
</span>
